<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CasaEmOrdem"
        tools:targetApi="35">
        <activity
            android:name=".ServicoAgendadoProfissionalActivity"
            android:exported="false" />
        <activity
            android:name=".MeusServicosHistoricoProfissionalActivity"
            android:exported="false" />
        <activity
            android:name=".MeusServicosPendentesProfissionalActivity"
            android:exported="false" />
        <activity
            android:name=".MeusServicosAgendadosProfissionalActivity"
            android:exported="false" />
        <activity
            android:name=".PaginaInicialProfissionalActivity"
            android:exported="false" />
        <activity
            android:name=".MeusServicosHistoricoActivity"
            android:exported="false" />
        <activity
            android:name=".MeusServicosPendentesActivity"
            android:exported="false" />
        <activity
            android:name=".MeusServicosAgendadosClienteActivity"
            android:exported="false" />
        <activity
            android:name=".FormaPagamentoActivity"
            android:exported="false" />
        <activity
            android:name=".PaginaLoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SelecaoProfissionalActivity"
            android:exported="true" />
        <activity
            android:name=".ProfissionaisListViewActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".PaginaInicialClienteActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroProfissionalActivity"
            android:exported="true" />
        <activity
            android:name=".CadastroClienteActivity"
            android:exported="false" />
        <activity
            android:name=".ProfissionalDetalhado"
            android:exported="false" />
        <activity
            android:name=".BottomNav"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TesteMaluActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".ContrataServicoActivity"
            android:exported="true"/>

        <activity
            android:name=".InfoEnderecoClienteActivity"
            android:exported="true"/>
        <activity
            android:name=".ConfirmacaoPedidoActivity"
            android:exported="true"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>